* {
    box-sizing: border-box;
}

#selectors {
    background: #eee;
    padding: 50px 0;
}

li {
    list-style: none;
}

li + li {
    margin-top: .5em; 
}

li.comment {
    color: blue;
    font-size: 75%;
}

code {
    display: inline-block;
    white-space: pre;
    font-family: 'Lucida Typewriter', 'Monaco', monospace;
    line-height: 1em;
    padding: .25em;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 3px;
}

code + code {
    margin-left: 2px;
}

code.combinator {
    background: #ddd;
}

