{
    "default": "styleboard",

    "styleboard": {
        "styles": "styles/styleboard.css",
        "scripts": [
            "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js",
            "lib/ng-dummy/js/ng-dummy.js"
            ],
        "ng-app": "me.mnmlst.ng-dummy",
        "options": {
        }
    }
}
