body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', serif;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.split-.pane {
    position: relative;
    height: 100%;
    width: 100%;
}

.horizontal-.split-.pane > .pane {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}

.left-.pane {
    left: 0;
}

.right-.pane {
    right: 0;
}

.one-two-.horizontal-.split-.pane > .left-.pane {
    width: 33.33333333%;
}

.one-two-.horizontal-.split-.pane > .right-.pane {
    width: 66.66666666%;
}

.vertical-.split-.pane > .pane {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
}

.two-one-.vertical-.split-.pane > .top-.pane {
    height: 66.66666666%;
}

.two-one-.horizontal-.split-.pane > .bottom-.pane {
    height: 33.33333333%;
}

.top-.pane {
    top: 0;
}

.bottom-.pane {
    bottom: 0;
}

.scrollable-.pane {
    overflow-x: hidden;
    overflow-y: scroll;
}

#modules {
    padding: 10px;
}

#sandbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#selectors {
    background: #eee;
    padding: 10px;
    margin: 0;
}

li {
    list-style: none;
}

li + li {
    margin-top: .5em; 
}

li.comment {
    color: blue;
    font-size: 75%;
}

dl {
    padding-left: 6em; 
}
dl:after {
    content: '';
    display: block;
    clear: both;
}
dt {
    float: left;
    margin-left: -6em;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
dt, dd {
    margin-bottom: 1em;
}
code {
    display: inline-block;
    white-space: pre;
    font-family: 'Lucida Typewriter', Monaco, monospace;
    line-height: 1em;
    padding: .25em;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 3px;
}

code + code {
    margin-left: 2px;
}

code.combinator {
    background: #ddd;
}

pre {
    font-family: 'Lucida Typewriter', Monaco, monospace;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #eee;
    padding: 1em;
    width: 75%;
}