{
    "default": "styleboard",

    "styleboard": {
        "styles": "styles/styleboard.css",
        "scripts": [
            "build/demo-bundle.js"
        ],
        "texts": {
            "lorem": "texts/lorem.json",
            "dickens": "texts/dickens.json",
            "kafka": "texts/kafka.json"
        },
        "options": {
            "fillerText": "lorem"
        },
        "controls": {
            "filler-text": {
                "lorem": "texts/lorem.json",
                "dickens": "texts/dickens.json",
                "kafka": "texts/kafka.json"
            },
            "transform": {
                "25%": "scale(.25)",
                "50%": "scale(.5)",
                "75%": "scale(.75)",
                "100%": "scale(1)",
                "150%": "scale(1.5)",
                "200%": "scale(2)",
                "400%": "scale(4)"
            },
            "width": {
                "100%": "100%",
                "----" : "",
                "320px": "320px",
                "480px": "480px",
                "600px": "600px",
                "768px": "768px",
                "800px": "800px",
                "1024px": "1024px"
            },
            "font-size": {
                "10px": "10px",
                "12px": "12px",
                "14px": "14px",
                "16px": "16px",
                "20px": "20px",
                "24px": "24px"
            },
            "background-color": {
                "None": "transparent",
                "----": "",
                "White": "#ffffff",
                "Off-White": "#f4f4f4",
                "75% Grey": "#c0c0c0",
                "Black": "#000000"
            }
        }
    }
}
