/* Copyright 2010-2013 Ken Kubiak */
/* All rights reserved */
/* Copyright 2010-13 Ken Kubiak */
/* All Rights Reserved */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fff;
  background-image: url(../graphics/grid64.svg);
  background-repeat: repeat;
  background-position: center 31px;
  width: 100%;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #333; }

.page {
  width: 256px;
  margin: 0 auto;
  padding: 32px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page:after {
  content: " ";
  display: block;
  clear: both; }

@media (min-width: 704px) {
  .page {
    width: 640px;
    padding: 64px 0; } }
@media (min-width: 960px) {
  .page {
    width: 896px; } }
@media (min-width: 1216px) {
  .page {
    width: 1152px; } }
header {
  text-align: right;
  min-height: 64px; }

header > a {
  display: block; }

header img#kek {
  margin-right: 72px;
  vertical-align: top; }

header h1 {
  margin-bottom: 64px;
  text-align: right; }

@media (min-width: 704px) {
  header {
    width: 192px; }

  header img#kek {
    margin-right: -128px; }

  header h1 {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  nav {
    text-align: left;
    margin-left: 192px; } }
@media (min-width: 960px) {
  header {
    width: 320px; }

  header img#kek {
    margin-right: -56px; }

  header h1 {
    margin-left: 64px;
    margin-right: 0; } }
@media (min-width: 1216px) {
  header {
    width: 640px; }

  header img#kek {
    margin-right: 264px; } }
aside {
  width: 256px;
  margin: 64px auto;
  padding: 8px;
  background: #f2f2ec;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }

aside h3 {
  margin: 16px 0; }

aside > div {
  margin: 16px 0; }

@media (min-width: 704px) {
  section {
    width: 384px;
    padding-left: 256px;
    position: relative;
    /* for aside */ }

  aside {
    width: 192px;
    position: absolute;
    left: 0; }

  aside#summary {
    top: 192px; }

  aside#toolbox {
    bottom: 0; }

  aside h1 {
    display: none; } }
@media (min-width: 960px) {
  section {
    padding-left: 384px;
    width: 512px; }

  aside {
    width: 320px; } }
@media (min-width: 1216px) {
  section {
    width: 768px; }

  section h1 {
    margin-bottom: 0; }

  section:after {
    content: " ";
    display: block;
    clear: both; }

  section .position {
    float: left; }

  section .meta {
    width: 256px;
    float: left;
    clear: left;
    margin-top: .25em;
    /* align w/ text adjacent */ }

  section .meta .date,
  section .meta .title,
  section .meta .location,
  section .meta .city {
    text-align: left; }

  section p {
    margin-left: 320px; } }
table {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0; }

table.spread {
  width: 100%; }

tr {
  margin: 0;
  padding: 0; }

tr.vspace {
  height: 1em; }

td {
  margin: 0;
  padding: 0;
  border: none; }

th {
  font-family: Exo, Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  text-align: left; }

td.right {
  text-align: right; }

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0;
  padding-left: 0px; }

dl {
  margin-top: 0px;
  margin-left: 0;
  padding-left: 0px; }

dt {
  margin-top: 0px;
  font-size: 100%;
  font-family: Exo, Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: black; }

dd {
  margin-top: 0px; }

p {
  line-height: 1.5; }

p + p {
  margin-top: 16px; }

img {
  border: none; }

img#kek {
  width: 192px;
  height: 64px; }

.float-right {
  float: right;
  margin-left: 8px; }

.float-left {
  float: left;
  margin-right: 8px; }

.caption {
  font-size: 80%;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1em; }

.caption p:last-child {
  margin-bottom: 0; }

.float-right .caption {
  text-align: right; }

.attribution {
  font-size: 64%;
  font-style: oblique;
  text-align: right;
  margin-top: -4px;
  padding-top: 0px; }

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  text-align: left;
  color: #bbbbbb;
  /* the following two lines are for Firefox (CSS2?) */
  border: 0px;
  border-top: 1px solid #c42231;
  /* the following works in IE6 */
  height: 1px; }

h1 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 200%;
  line-height: 1.5;
  padding-top: .5em;
  color: black;
  font-family: Exo, Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: lowercase; }

section h1 {
  margin-top: 64px;
  border-bottom: 1px solid #888888;
  width: 100%;
  text-transform: lowercase; }

h1 + h2 {
  margin-top: -15px;
  margin-bottom: 15px; }

/* IE does not support sibling selectors (h1 + h2), so we have to tag it: */
h2.subtitle {
  margin-top: -15px;
  margin-bottom: 15px; }

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 150%;
  color: black;
  font-family: Exo, Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase; }

h3.subtitle {
  margin-top: -10px;
  margin-bottom: 10px; }

h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 125%;
  font-family: Exo, Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: black;
  text-transform: lowercase; }

h4.subtitle {
  margin-top: -8px;
  margin-bottom: 5px; }

h4 {
  font-family: Exo, Verdana, Geneva, sans-serif;
  font-size: 100%;
  font-weight: 500;
  font-style: oblique;
  margin-top: 0px; }

h5 {
  font-family: Exo, Verdana, Geneva, sans-serif;
  font-size: 80%;
  font-weight: 500;
  margin-top: 0px; }

b {
  font-style: normal;
  font-weight: bold; }

small {
  font-size: 80%;
  font-weight: 300; }

big {
  font-size: 125%; }

.nobr {
  white-space: nowrap; }

q:before {
  content: "\201C";
  /* &ldquo; */ }

q:after {
  content: "\201D";
  /* &rdquo; */ }

a {
  font-family: Exo, Verdana, Geneva, sans-serif;
  font-weight: 500;
  font-size: 100%;
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms; }

a:hover {
  color: #888;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }

a.nohover:hover {
  color: inherit;
  background-color: inherit; }

a.more-link {
  font-size: 80%;
  vertical-align: middle; }

a.more-link:after {
  content: "\21E2";
  font-size: 125%;
  vertical-align: middle; }

header h1 {
  display: none; }

h1 {
  position: relative;
  line-height: 1;
  margin-right: 0;
  margin-top: 32px;
  margin-bottom: 32px; }

nav {
  font-family: Exo, Verdana, Geneva, sans-serif;
  text-transform: lowercase;
  margin-right: 128px;
  text-align: right;
  line-height: 32px;
  clear: both; }

.plus {
  font-size: 150%;
  line-height: 66.666666%;
  vertical-align: middle;
  font-weight: 500; }

.blurb {
  margin-top: 64px;
  line-height: 32px;
  text-align: right; }

.links li,
.blurb li {
  margin-bottom: 32px; }

li.flip {
  text-align: left;
  margin-left: 100%; }

@media (min-width: 704px) {
  h1 {
    text-align: left;
    margin-left: 320px;
    width: 320px; }

  nav {
    width: 256px;
    margin-left: 0; }

  .blurb {
    margin-right: 64px; } }
@media (min-width: 960px) {
  h1 {
    margin-left: 384px; }

  nav {
    width: 320px; }

  .blurb {
    margin-right: 192px; } }
