code, pre {
    line-height: 1.25em;
    .font( code, small );
}

code + code {
    margin-left: 2px;
}

code.combinator {
    color: @hl-color-2;
}

.example {
    border: 1px solid @border-color;
    border-radius: 3px;
    padding: 1em;
    width: 75%;
}