code {
    display: inline-block;
    white-space: pre;
    font-family: 'Lucida Typewriter', Monaco, monospace;
    line-height: 1em;
    padding: .25em;
    vertical-align: top;
    border: 1px solid @border-color;
    color: @hl-color-1;
    border-radius: 3px;
}

code + code {
    margin-left: 2px;
}

code.combinator {
    color: @hl-color-2;
}

pre {
    font-family: 'Lucida Typewriter', Monaco, monospace;
}

.example {
    border: 1px solid @border-color;
    border-radius: 3px;
    padding: 1em;
    width: 75%;
}