/*
  Styles for formatting code.  Eventually this will be used for highlighting code
*/

@import "color";

code, pre {
    .font( code, small );
}

code + code {
    margin-left: 2px;
}

code.combinator {
    .color( gamma );
}

code.separator {
    .color( alpha );
}

.example {
    border: 1px solid @border-color;
    border-radius: 3px;
    padding: 1em;
    width: 75%;
}