@background-color: #282624;
@background-alt-color: #393633;
@body-color: #ddd;
@body-lo-color: #666;
@body-hi-color: #fff;
@border-color: #444;
@border-hi-color: #333;
@border-lo-color: #222;
@color-alpha: #e9c063; // yellow
@color-beta: #cf6a4c;  // red
@color-gamma: #99cf50; // green
@color-delta: #3387cc; // blue

.color ( body ) { color: @body-color; }
.color ( lo )  { color: @body-lo-color; }
.color ( hi ) { color: @body-hi-color; }

.color ( alpha )  { color: @color-alpha; }
.color ( beta )  { color: @color-beta; }
.color ( gamma )  { color: @color-gamma; }
.color ( delta )  { color: @color-delta; }

.glow ( alpha )  { box-shadow: 0 0 2px @color-alpha; }
