@import "color";
@import "typography";

.frame {
    /** A container for one or more panes.

       @example A basic frame with one pane.
       <div class="frame">
         <div class="pane typography">
           <p>{{p1}}
           <p>{{p2}}
           <p>{{p3}}
         </div>
       </div>
    */

    @headerHeight: 2em;
    @footerHeight: 1.2em;

    height: 100%;
    width: 100%;

    // most variants require elements be positioned relative to the frame.
    position: relative;

    &.headered- {
        /** A frame which has a header at the top.  The header might include
            a title, navigation, or tools, for example.

            @example A frame with a title bar.
            <div class="headered- frame">
              <h1 class="frame-header">{{h}}</h1>
              <div class="pane typography">
                <p>{{p}}
              </div>
            </div
         */
        padding-top: @headerHeight;
    }

    .frame-header,
    .frame-tabs {
        position: absolute;
        top: 0;
        left: 0;
        height: @headerHeight;
        line-height: @headerHeight;
        width: 100%;
        background: @inv-background-color;
        box-shadow: inset 1px 1px 1px @border-hi-color,
                    inset -1px -1px 1px @border-lo-color;
        a {
            color: inherit;
            text-decoration: inherit;
        }
        small {
            font-size: 75%;
        }
    }

    .frame-header {
        /** A fixed area at the top of the frame, usually containing a title. */
        .font( header, inherit, inv-lo );
        .frame-tabs {
            // if tabs are inside a header, float them inside the header
            position: static;
            width: auto;
            float: left;
        }

        h1 {
            float: left;
            margin: 0 .5em;
            font-size: 20px;
        }
    }

    .frame-header-left {
        position: absolute;
        left: 0;
        top: 0;
    }

    .frame-header-right {
        position: absolute;
        right: 0;
        top: 0;
    }

    &.footered- {
        /** A frame which has a footer at the bottom.

            @example A frame with a footer.
            <div class="footered- frame">
              <div class="pane typography">
                <p>{{p}}
              </div>
              <p class="frame-footer">{{s}}
            </div>
         */
        padding-bottom: @footerHeight;
    }

    .frame-footer {
        /** A fixed area at the bottom of the frame. */
        position: absolute;
        bottom: 0;
        left: 0;
        height: @footerHeight;
        line-height: @footerHeight;
        width: 100%;
        background: @inv-background-color;
        box-shadow: inset 1px 1px 1px @border-hi-color,
                    inset -1px -1px 1px @border-lo-color;
        .font( nav, inherit, inv-lo );
    }

    .frame-footer-left {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .frame-footer-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &.split- {
        /** A frame which is split into two panes */
        > * {
            position: absolute;
        }
        &.horizontal- {
            /** A frame which is split horizontally.
                By default the frame is split equally (1:1)
                */
            /**
               @example Two panes side-by-side
               <div class="horizontal- split- frame">
                   <div class="pane typography">
                       <h1>{{h1}}</h1>
                       <p>{{p1}}
                       <p>{{p2}}
                   </div>
                   <div class="pane typography">
                       <h1>{{h2}}</h1>
                       <p>{{p3}}
                   </div>
               </div>
               */
            > * {
                width: 50%;
                height: 100%;
                top: 0;
            }
            > :first-child {
                left: 0;
            }
            > :last-child {
                right: 0;
            }
            &.one-two- {
                /** Split the frame 1:2 */
                > :first-child { width: 1/3 * 100%; }
                > :last-child { width: 2/3 * 100%; }
            }
            &.forty-sixty-{
                /** Split the frame 40%/60% */
                > :first-child { width: 40%; }
                > :last-child { width: 60%; }
            }
        }
        &.vertical- {
            /** A frame which is split vertically.
                By default the frame is split equally (1:1)
                */
            > * {
                width: 100%;
                height: 50%;
                left: 0;
                &:first-child { top: 0; }
                &:last-child { bottom: 0; }
            }
            &.one-two- {
                /** Split the frame 1:2 */
                > :first-child { height: 1/3 * 100%; }
                > :last-child { height: 2/3 * 100%; }
            }
            &.two-one- {
                /** Split the frame 2:1 */
                > :first-child { height: 2/3 * 100%; }
                > :last-child { height: 1/3 * 100%; }
            }
            &.sixty-forty- {
                /** Split the frame 60%/40% */
                > :first-child { height: 60%; }
                > :last-child { height: 40%; }
            }
        }
    }

    &.tabbed- {
        /** A frame with tabs to select alternate panes to view.
            @example Two tabs
            <div class="tabbed- frame">
              <nav>
                <ul class="frame-tabs">
                  <li class="is-active">{{w1}}
                  <li>{{w2}}
                </ul>
              </nav>
              <ul class="frame-panes">
                <li class="pane typography is-active"><p>{{p1}}
                <li class="pane typography"><p>{{p2}}
            </div>
        */
        padding-top: @headerHeight;

        .frame-tabs {
            /** Tabs for switching the current `pane` to view within a `tabbed-` frame. */
            .font( nav, inherit, inv-lo );
            white-space: nowrap;
            > * {
                display: inline-block;
                cursor: pointer;
                padding: 0 .5em;
                &.is-active {
                    .color( delta );
                    outline-color: @color-delta;
                }
                &:empty {
                    visibility: hidden;
                }
            }
        }

        .frame-panes {
            /** A list of panes to show in a `tabbed-` frame */
            height: 100%;
            > * {
                display: none;
                &.is-active {
                    display: block;
                }
            }
        }

    }
}


