@import "css3";
@import "color";

/** A rectangular region of the screen. 
    @example
    <div class="pane">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
      tortor dolor, sollicitudin sit amet nibh ac, suscipit ultrices
      augue. Nullam dictum mauris eu mi lacinia consectetur. Proin sit amet
      nisl ipsum.
      <p>Praesent vulputate luctus risus, nec venenatis neque
      consectetur a. Pellentesque in sapien eu diam tincidunt fringilla in
      vehicula lacus. Donec at rhoncus neque. Cras molestie sem tortor, sit
      amet venenatis lectus auctor sed.
      <p>Aenean adipiscing euismod lorem, non
      euismod purus aliquet non. Sed ullamcorper vestibulum congue. Proin at
      ligula faucibus, lobortis elit eu, sagittis magna. Sed volutpat lacus
      ut varius dictum.
    </div>
    */
.pane {
    height: 100%;
    width: 100%;
    position: relative; // for pane-scrolllmark
    background: @background-color;
    border-width: 1px;
    border-style: solid;
    border-color: @border-hi-color @border-lo-color @border-lo-color @border-hi-color;

    &.dark- {
        /** A pane with a dark background (inverted colors).
            @example
            <div class="dark- pane">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              tortor dolor, sollicitudin sit amet nibh ac, suscipit ultrices
              augue. Nullam dictum mauris eu mi lacinia consectetur. Proin sit amet
              nisl ipsum.
              <p>Praesent vulputate luctus risus, nec venenatis neque
              consectetur a. Pellentesque in sapien eu diam tincidunt fringilla in
              vehicula lacus. Donec at rhoncus neque. Cras molestie sem tortor, sit
              amet venenatis lectus auctor sed.
              <p>Aenean adipiscing euismod lorem, non
              euismod purus aliquet non. Sed ullamcorper vestibulum congue. Proin at
              ligula faucibus, lobortis elit eu, sagittis magna. Sed volutpat lacus
              ut varius dictum.
            </div>
            */
        background: @inv-background-color;
        color: @inv-body-color;
    }

    &.scrollable- {
        /** A pane with scrolling content (in both directions). */
        overflow-x: auto;
        overflow-y: auto;
        &.vertically- {
            /** A pane with vertically scrolling content. */
            overflow-x: hidden;
        }
        &.horizontally- {
            /** A pane with horizontally scrolling content. */
            overflow-y: hidden;
        }
        &::-webkit-scrollbar {
            width: 6px;   // for vertical scrollbar
            height: 6px;  // for horizontal scrollbar
        }
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-corner {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba( 150, 150, 150, 0.5);
            border-radius: 1px;
        }
    }

    .pane-content {
        position:relative;
        z-index: 1;
    }

    .pane-scrollmark {
        /** A visual and user-positionable marker to set the current reading
            location in a pane. */
        @aspect: 2; // width over height of effect

        display: none; // unless .is-visible
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 100% / @aspect;
        border-top: 1px solid fade(#e7e7b1, 50%);
        .radial( transparent 75%, fade( #fafab9, 80%),
                 100% 100%, ellipse farthest-corner );

        &.is-visible {
            display: block;
        }
        &.is-active {
            .radial( transparent 75%, fade( #fafa00, 80%),
                     100% 100%, ellipse farthest-corner );
        }
    }

    .pane-scrollmargin {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2em;
        cursor: ns-resize;
        z-index: 2;
        &:hover {
            border-right: 1px solid fade( #ddd, 30% );
            background: fade( #ddd, 20%);
        }
    }
}

