@import "color";

.pane {
    /** A rectangular region of the screen.
        @example
        <div class="pane typography">
          <p dummy>
          <p dummy>
          <p dummy>
        </div>
        */

    position: relative; // any positioning inside should be relative to frame
    height: 100%;
    width: 100%;
    padding: .5em;
    background: @background-color;
    box-shadow: inset 1px 1px 1px @border-hi-color,
                inset -1px -1px 1px @border-lo-color;
    overflow: hidden;

    &.dark- {
        /** A pane with a dark background (inverted colors).
            @example
            <div class="dark- pane typography">
              <p dummy>
              <p dummy>
              <p dummy>
            </div>
            */
        background: @inv-background-color;
        color: @inv-body-color;
    }

    &.scrollable- {
        /** A pane with scrolling content (in both directions). */
        overflow-x: auto;
        overflow-y: auto;
        &.vertically- {
            /** A pane with vertically scrolling content. */
            overflow-x: hidden;
        }
        &.horizontally- {
            /** A pane with horizontally scrolling content. */
            overflow-y: hidden;
        }
        &::-webkit-scrollbar {
            width: 6px;   // for vertical scrollbar
            height: 6px;  // for horizontal scrollbar
        }
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-corner {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(200,200,200,0.8);
            box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
            border-radius: 1px;
        }
    }
}

