@import "color";

.pattern {
    /** A styleguide entry for a pattern. */

    header {
        h1 {
            .color( alpha );
            .glow( alpha );
        }
        h3 {
            .color( beta );
            .glow( beta );
        }
        h4 {
            .color( gamma );
            .glow( gamma );
        }
    }

    .pattern-selectors {
        .font-size( xsmall );
        code {
            .color( lo );
        }
    }

    .pattern-example {
        display: block;
        margin: 1em 0;
        padding-left: .5em;
        padding-right: .5em;
        width: 100%;
        text-align: right;
        border-color: transparent;
        background: #ddd;
        font-style: oblique;
        &.is-active {
            .box-glow( delta );
            background-color: #ccc;
            border-color: #999;
        }
    }

}