.styleboard-view {

    background: #fff;
    font-size: 100%;
    height: auto;
    overflow: auto;

    .styleboard-view-break {
        display: block;
        margin-top: 1em;
        clear: both;
        height: 0;
        border: none;
    }

}