@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
/*
  CSS3 utility mixins
*/
body {
  font-family: Oxygen, Tahoma, Geneva, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}
.typography {
  /** Applies standard typographical formatting conventions
        to HTML tags inside.
@example An article with typography applied.
    <article class="typography">
      <header>
        <h1>Lorem ipsum</h1>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
      tortor dolor, sollicitudin sit amet nibh ac, suscipit ultrices
      augue. Nullam dictum mauris eu mi lacinia consectetur. Proin sit amet
      nisl ipsum.
      <ul>
        <li>Praesent vulputate luctus risus
        <li>nec venenatis neque
        <li>consectetur
      </ul>
      <ol>
        <li>Pellentesque
        <li>in sapien
        <li>eu diam
      </ol>
      <dl>
        <dt>Incidunt
        <dd>fringilla in vehicula lacus.
        <dt>Donec
        <dd>at rhoncus neque.
        <dt>Cras
        <dd>molestie sem tortor, sit
        amet venenatis lectus auctor sed.
      </dl>
      <p>Aenean adipiscing euismod lorem, non
      euismod purus aliquet non. Sed ullamcorper vestibulum congue. Proin at
      ligula faucibus, lobortis elit eu, sagittis magna. Sed volutpat lacus
      ut varius dictum.
    </article>
    */
}
.typography article,
article.typography {
  padding: 0.5em;
  padding-left: 2.5em;
}
.typography section {
  margin-top: 1em;
}
.typography header {
  margin-left: -2em;
  margin-bottom: 0.5em;
  line-height: 1.25;
}
.typography header h2 {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #105c9b;
  text-shadow: 0 0 0.15em #b3d8f7;
}
.typography header h3 {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 21.28px;
  color: #3a6b0c;
  text-shadow: 0 0 0.15em #b9f185;
  letter-spacing: -0.05em;
}
.typography p,
.typography ul,
.typography ol,
.typography dl {
  margin-top: 1em;
}
.typography p {
  line-height: 1.4;
}
.typography ul,
.typography ol,
.typography dl {
  line-height: 1.2;
}
.typography pre {
  font-family: 'Source Code Pro', 'Courier', 'Courier New', monospace;
  font-weight: 400;
  font-size: 14px;
}
.typography code {
  font-family: 'Source Code Pro', 'Courier', 'Courier New', monospace;
  font-weight: 400;
  font-size: inherit;
  color: #3a6b0c;
}
.typography ul {
  /** List formatting */
}
/** Icons. Implemented as an icon font using grunt-webfont.

@example
<ul class="list">
<li><i class="pagesize- icon"></i>  Page Size <code>pagesize</code>
</ul>
*/
@font-face {
  font-family: "iconfont";
  src: url("../graphics/iconfont/iconfont-3409d9813fcc5280ebccb0814762608e.eot");
  src: url("../graphics/iconfont/iconfont-3409d9813fcc5280ebccb0814762608e.eot?#iefix") format("embedded-opentype"), url("../graphics/iconfont/iconfont-3409d9813fcc5280ebccb0814762608e.woff") format("woff"), url("../graphics/iconfont/iconfont-3409d9813fcc5280ebccb0814762608e.ttf") format("truetype"), url("../graphics/iconfont/iconfont-3409d9813fcc5280ebccb0814762608e.svg?#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "iconfont";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon:before {
  content: "\f100";
}
.icon.0default-:before {
  content: "\f100";
}
.icon.circle-:before,
.scrubber .scrubber-selector > li.is-active i.icon:before {
  content: "\f101";
}
.icon.fontsize-:before {
  content: "\f102";
}
.icon.fullscreen-:before {
  content: "\f103";
}
.icon.opencircle-:before,
.scrubber .scrubber-selector > li i.icon:before {
  content: "\f104";
}
.icon.pagesize-:before {
  content: "\f105";
}
.icon.scale-:before {
  content: "\f106";
}
.icon {
  font-size: 1.25em;
}
/** Color swatches.
    @example
    <i class="white- swatch></i> White
*/
.swatch {
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
  background: #ffffff url(../graphics/checkerboard.svg );
  background-position: center;
}
.swatch::before {
  background-color: transparent;
}
.swatch::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
}
.swatch.transparent-::before {
  background-color: transparent;
}
.swatch.white-::before {
  background-color: #ffffff;
}
.swatch.off-white-::before {
  background-color: #f4f4f4;
}
.swatch.grey-75-::before {
  background-color: #c0c0c0;
}
.swatch.black-::before {
  background-color: #000000;
}
.list,
.typography ul {
  /**
       A simple list.  Items are arranged vertically, with no decoration.
        @example
        <ul class="list">
          <li>2½ oz gin
          <li>½ oz dry vermouth
          <li>1 green olive
          <li>Angostura bitters
        </ul>
     */
}
.list > *,
.typography ul > * {
  list-style: none;
}
.list.bullet-,
.typography ul.bullet- {
  /**
           A bulleted list.  Items are arranged vertically with colored bullets.
           @example
           <ul class="bullet- list">
             <li>2½ oz gin
             <li>½ oz dry vermouth
             <li>1 green olive
             <li>Angostura bitters (optional)
           </ul>
        */
  margin-left: 1em;
}
.list.bullet- > *::before,
.typography ul.bullet- > *::before {
  display: inline-block;
  font-family: 'Symbol', symbol;
  font-size: inherit;
  color: #105c9b;
  content: '•';
  width: 1em;
  margin-left: -1em;
}
.list.comma-,
.typography ul.comma- {
  /**
           A comma-separated list.  Items are set inline, as a line of text, with commas between.
           @example 
           <ul class="comma- list">
             <li>2½ oz gin
             <li>½ oz dry vermouth
             <li>1 green olive
             <li>Angostura bitters (optional)
           </ul>
        */
}
.list.comma- > *,
.typography ul.comma- > * {
  display: inline-block;
}
.list.comma- > * + *::before,
.typography ul.comma- > * + *::before {
  content: ', ';
}
.list.definition-,
.typography ul.definition-,
.typography dl {
  /**
           A definition list.  The list items ae terms, each of which may
           have one or more definitions.

           @example
           <dl class="definition- list">
             <dt class="list-term">2½ oz gin
             <dd class="list-definition">Vodka may be substituted
             <dt class="list-term">½ oz dry vermouth
             <dd class="list-definition">Use very little, just enough to coat the ice cubes
             <dt class="list-term">1 green olive
             <dd class="list-definition">Or a lemon twist
             <dt class="list-term">Angostura bitters (optional)
             <dd class="list-definition">Or orange bitters
           </dl>
           */
  padding-left: 6em;
}
.list.definition-::after,
.typography ul.definition-::after,
.typography dl::after {
  content: '';
  display: block;
  clear: both;
}
.list.definition- > *,
.typography ul.definition- > *,
.typography dl > * {
  margin-bottom: 1em;
}
.list .list-term,
.typography ul .list-term,
.typography dt {
  /** A term in a definition list. */
  float: left;
  margin-left: -6em;
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: inherit;
  color: #105c9b;
}
.list .list-definition,
.typography ul .list-definition {
  /** The definition for a term in a definition list. */
}
/**
   A horizontal, packed arrangement of items, such buttons or tools

@example A tool bar
   <ul class="tool- bar">
     <li>A
     <li>B
     <li>C
   </ul>

When creating the items in the list, care should be take to not have any
incidental whitespace between the <li> elements.  A good way to ensure this
is to *not* provide the </li> tag, allowing the next <li> (or the </ul>) to
implicitly close the <li>.
*/
.bar {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.bar > li {
  display: inline-block;
  vertical-align: top;
  padding: 0 .25em;
  border-left: 1px solid rgba(153, 153, 153, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.bar .button,
.bar button {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  border-width: 0;
}
.bar.tool- .button,
.bar.tool- button {
  background: transparent;
  color: inherit;
}
/** A clickable control with a single on-click action */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
  /**
        @example A button an icon in it
        You can <button><i class="scale- icon"></i><span>Zoom</span></button>
        if you like.
     */
  /** @example A basic button
        You can <button>Click this</button> if you like.
        */
  display: inline-block;
  padding: .25em;
  vertical-align: baseline;
  outline: none;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: inherit;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  background: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  line-height: 1.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
.button:focus {
  text-decoration: none;
  color: #000000;
  border-color: #000000;
}
button.is-active,
input[type="button"].is-active,
input[type="submit"].is-active,
input[type="reset"].is-active,
.button.is-active,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.button:active {
  /** A button which is currently in the “on” or active state.
            @example An active button
            You have <button class="is-active">Clicked this</button> already.
            */
  background: #f19914;
}
button[disabled],
input[type="button"][disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
.button[disabled],
button.is-disabled,
input[type="button"].is-disabled,
input[type="submit"].is-disabled,
input[type="reset"].is-disabled,
.button.is-disabled {
  /** A button which has been disabled and is not currently clickable.
            @example A disabled button
            You <button class="is-disabled">Cannot click this</button> button.
            */
  opacity: .5;
  cursor: default;
}
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover,
input[type="reset"][disabled]:hover,
.button[disabled]:hover,
button.is-disabled:hover,
input[type="button"].is-disabled:hover,
input[type="submit"].is-disabled:hover,
input[type="reset"].is-disabled:hover,
.button.is-disabled:hover {
  color: inherit;
  border-color: rgba(0, 0, 0, 0.25);
}
button.primary-,
input[type="button"].primary-,
input[type="submit"].primary-,
input[type="reset"].primary-,
.button.primary- {
  /** The primary call to action in a dialog.
            @example A primary button
            You probably want <button class="primary-">This button</button>
            and not <button>This other one</button>.
            */
  color: #ffffff;
  background: #105c9b;
}
button.link-,
input[type="button"].link-,
input[type="submit"].link-,
input[type="reset"].link-,
.button.link- {
  /** A button which is styled to look like a link.
            @example A link button
            This may look like a link but it's really
            a <button class="link-">button</button> in disguise.
            */
  color: #105c9b;
  text-shadow: 0 0 0.15em #b3d8f7;
  font-family: inherit;
  font-weight: 500;
  padding: 0;
  border-color: transparent;
  background: transparent;
}
button.delete-,
input[type="button"].delete-,
input[type="submit"].delete-,
input[type="reset"].delete-,
.button.delete- {
  /** A delete button or similarly dangerous action.
            @example A delete button
            Be careful of <button class="delete-">This Dangerous</button> button.
            */
  color: #ffffff;
  background: #9b3314;
}
button .icon,
input[type="button"] .icon,
input[type="submit"] .icon,
input[type="reset"] .icon,
.button .icon,
button .swatch,
input[type="button"] .swatch,
input[type="submit"] .swatch,
input[type="reset"] .swatch,
.button .swatch {
  vertical-align: bottom;
  margin-left: .25em;
  margin-right: .25em;
}
button .icon:first-child,
input[type="button"] .icon:first-child,
input[type="submit"] .icon:first-child,
input[type="reset"] .icon:first-child,
.button .icon:first-child,
button .swatch:first-child,
input[type="button"] .swatch:first-child,
input[type="submit"] .swatch:first-child,
input[type="reset"] .swatch:first-child,
.button .swatch:first-child {
  margin-left: 0;
}
button .icon:last-child,
input[type="button"] .icon:last-child,
input[type="submit"] .icon:last-child,
input[type="reset"] .icon:last-child,
.button .icon:last-child,
button .swatch:last-child,
input[type="button"] .swatch:last-child,
input[type="submit"] .swatch:last-child,
input[type="reset"] .swatch:last-child,
.button .swatch:last-child {
  margin-right: 0;
}
button strong,
input[type="button"] strong,
input[type="submit"] strong,
input[type="reset"] strong,
.button strong {
  font-weight: 400;
}
/**
   A vertical arrangement of actions or options from which the user may choose.
   */
.menu > li {
  padding: .25em .5em;
  line-height: 1.5em;
  cursor: pointer;
  white-space: nowrap;
}
.menu > li:hover {
  color: #f19914;
}
.menu > li .icon,
.menu > li .swatch {
  vertical-align: bottom;
  margin-left: .25em;
  margin-right: .25em;
}
.menu > li .icon:first-child,
.menu > li .swatch:first-child {
  margin-left: 0;
}
.menu > li .icon:last-child,
.menu > li .swatch:last-child {
  margin-right: 0;
}
/**
   An overlay with a pointer to refer to a button or control. Used for dropdown menus and popup dialogs.

@example
<div class="popover-context">
  <button>Save</button>
  <div class="popover">
     ... save dialog
  </div>
</div>
*/
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown .dropdown-pane {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 100%;
  background-color: rgba(57, 54, 51, 0.9);
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px #000;
  z-index: 5;
}
.dropdown.left-aligned- {
  /** Align the pane with the left edge of the control. */
  text-align: left;
}
.dropdown.left-aligned- .dropdown-pane {
  left: 0;
}
.dropdown.right-aligned- {
  /** Align the pane with the right edge of the control. */
  text-align: right;
}
.dropdown.right-aligned- .dropdown-pane {
  right: 0;
}
.dropdown.centered- {
  /** Align the center of the pane with the center of the control. */
  text-align: center;
}
.dropdown.centered- .dropdown-pane {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.dropdown:hover {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.35);
}
.dropdown:hover button,
.dropdown:hover .button {
  color: #f19914;
}
.dropdown:hover .dropdown-pane {
  display: block;
}
.scrubber {
  position: relative;
  line-height: 1.2em;
}
.scrubber .scrubber-title {
  font-size: 75%;
  margin: 0 .5em;
}
.scrubber .scrubber-selector {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50%;
  margin: 0 .5em;
}
.scrubber .scrubber-selector > li {
  width: 1.5em;
  text-align: center;
  display: inline-block;
  color: #666;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  transition: transform 0.2s;
}
.scrubber .scrubber-selector > li:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
/** A rectangular region of the screen. 
    @example
    <div class="pane typography">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
      tortor dolor, sollicitudin sit amet nibh ac, suscipit ultrices
      augue. Nullam dictum mauris eu mi lacinia consectetur. Proin sit amet
      nisl ipsum.
      <p>Praesent vulputate luctus risus, nec venenatis neque
      consectetur a. Pellentesque in sapien eu diam tincidunt fringilla in
      vehicula lacus. Donec at rhoncus neque. Cras molestie sem tortor, sit
      amet venenatis lectus auctor sed.
      <p>Aenean adipiscing euismod lorem, non
      euismod purus aliquet non. Sed ullamcorper vestibulum congue. Proin at
      ligula faucibus, lobortis elit eu, sagittis magna. Sed volutpat lacus
      ut varius dictum.
    </div>
    */
.pane {
  position: relative;
  height: 100%;
  width: 100%;
  padding: .5em;
  background: #f8f8f8;
  box-shadow: inset 1px 1px 1px rgba(153, 153, 153, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.pane.dark- {
  /** A pane with a dark background (inverted colors).
            @example
            <div class="dark- pane typography">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              tortor dolor, sollicitudin sit amet nibh ac, suscipit ultrices
              augue. Nullam dictum mauris eu mi lacinia consectetur. Proin sit amet
              nisl ipsum.
              <p>Praesent vulputate luctus risus, nec venenatis neque
              consectetur a. Pellentesque in sapien eu diam tincidunt fringilla in
              vehicula lacus. Donec at rhoncus neque. Cras molestie sem tortor, sit
              amet venenatis lectus auctor sed.
              <p>Aenean adipiscing euismod lorem, non
              euismod purus aliquet non. Sed ullamcorper vestibulum congue. Proin at
              ligula faucibus, lobortis elit eu, sagittis magna. Sed volutpat lacus
              ut varius dictum.
            </div>
            */
  background: #282624;
  color: #dddddd;
}
.pane.scrollable- {
  /** A pane with scrolling content (in both directions). */
  overflow-x: auto;
  overflow-y: auto;
}
.pane.scrollable-.vertically- {
  /** A pane with vertically scrolling content. */
  overflow-x: hidden;
}
.pane.scrollable-.horizontally- {
  /** A pane with horizontally scrolling content. */
  overflow-y: hidden;
}
.pane.scrollable-::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.pane.scrollable-::-webkit-scrollbar-track,
.pane.scrollable-::-webkit-scrollbar-corner {
  background: transparent;
}
.pane.scrollable-::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.8);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
.frame {
  /** A container for one or more panes.

       @example A basic frame with one pane.
       <div class="frame">
         <div class="pane">
           <p>Lorem ipsum dolor sit amet, 
             consectetur adipiscing elit.</p>
           <p>Duis tempor risus vitae
             nulla commodo tempus.</p>
           <p>Praesent semper arcu quis
             diam aliquam aliquam.</p> 
         </div>
       </div>
    */
  height: 100%;
  width: 100%;
  position: relative;
}
.frame.headered- {
  /** A frame which has a header at the top.  The header might include
            a title, navigation, or tools, for example.

            @example A frame with a title bar.
            <div class="headered- frame">
              <h1 class="frame-header">Lorem Ipsum</h1>
              <div class="pane">
                <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit.</p>
              </div>
            </div
         */
  padding-top: 2em;
}
.frame .frame-header,
.frame .frame-tabs {
  position: absolute;
  top: 0;
  left: 0;
  height: 2em;
  line-height: 2em;
  width: 100%;
  background: #282624;
  box-shadow: inset 1px 1px 1px rgba(153, 153, 153, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: inherit;
  color: #aaaaaa;
}
.frame .frame-header a,
.frame .frame-tabs a {
  color: inherit;
  text-decoration: inherit;
}
.frame .frame-header small,
.frame .frame-tabs small {
  font-size: 75%;
}
.frame .frame-header .frame-tabs {
  position: static;
  width: auto;
  float: left;
}
.frame .frame-header h1 {
  float: left;
  margin: 0 .5em;
}
.frame .frame-header-left {
  position: absolute;
  left: 0;
  top: 0;
}
.frame .frame-header-right {
  position: absolute;
  right: 0;
  top: 0;
}
.frame.footered- {
  /** A frame which has a header at the top.  The header might include
            a title, navigation, or tools, for example.

            @example A frame with a title bar.
            <div class="footered- frame">
              <div class="pane">
                <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.</p>
              </div>
              <p class="frame-footer">Lorem Ipsum</p>
            </div
         */
  padding-bottom: 1.2em;
}
.frame .frame-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.2em;
  line-height: 1.2em;
  width: 100%;
  background: #282624;
  box-shadow: inset 1px 1px 1px rgba(153, 153, 153, 0.5), inset -1px -1px 1px rgba(0, 0, 0, 0.5);
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: inherit;
  color: #aaaaaa;
}
.frame .frame-footer-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.frame .frame-footer-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.frame.split- {
  /** A frame which is split into two panes */
}
.frame.split- > * {
  position: absolute;
}
.frame.split-.horizontal- {
  /** A frame which is split horizontally.
                By default the frame is split equally (1:1)
                */
  /**
               @example Two panes side-by-side
               <div class="horizontal- split- frame">
                   <div class="pane">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                       <p>Duis tempor risus vitae nulla commodo tempus.</p>
                   </div>
                   <div class="pane">
                       <p>Praesent semper arcu quis diam aliquam aliquam.</p>
                   </div>
               </div>
               */
}
.frame.split-.horizontal- > * {
  width: 50%;
  height: 100%;
  top: 0;
}
.frame.split-.horizontal- > :first-child {
  left: 0;
}
.frame.split-.horizontal- > :last-child {
  right: 0;
}
.frame.split-.horizontal-.one-two- {
  /** Split the frame 1:2 */
}
.frame.split-.horizontal-.one-two- > :first-child {
  width: 33.33333333333333%;
}
.frame.split-.horizontal-.one-two- > :last-child {
  width: 66.66666666666666%;
}
.frame.split-.vertical- {
  /** A frame which is split vertically.
                By default the frame is split equally (1:1)
                */
}
.frame.split-.vertical- > * {
  width: 100%;
  height: 50%;
  left: 0;
}
.frame.split-.vertical- > *:first-child {
  top: 0;
}
.frame.split-.vertical- > *:last-child {
  bottom: 0;
}
.frame.split-.vertical-.one-two- {
  /** Split the frame 1:2 */
}
.frame.split-.vertical-.one-two- > :first-child {
  height: 33.33333333333333%;
}
.frame.split-.vertical-.one-two- > :last-child {
  height: 66.66666666666666%;
}
.frame.split-.vertical-.two-one- {
  /** Split the frame 2:1 */
}
.frame.split-.vertical-.two-one- > :first-child {
  height: 66.66666666666666%;
}
.frame.split-.vertical-.two-one- > :last-child {
  height: 33.33333333333333%;
}
.frame.tabbed- {
  /** A frame with tabs to select alternate panes to view.
            @example Two tabs
            <div class="tabbed- frame">
              <nav>
                <ul class="frame-tabs">
                  <li class="is-active">One
                  <li>Two
                </ul>
              </nav>
              <ul class="frame-panes">
                <li class="pane is-active">This is pane One
                <li class="pane">This is pane Two
            </div>
        */
  padding-top: 2em;
}
.frame.tabbed- .frame-tabs {
  white-space: nowrap;
}
.frame.tabbed- .frame-tabs > * {
  display: inline-block;
  cursor: pointer;
  padding: 0 .5em;
}
.frame.tabbed- .frame-tabs > *.is-active {
  color: #f19914;
  outline-color: #f19914;
}
.frame.tabbed- .frame-tabs > *:empty {
  visibility: hidden;
}
.frame.tabbed- .frame-panes {
  /** A list of panes to show in a `tabbed-` frame */
  height: 100%;
}
.frame.tabbed- .frame-panes > * {
  display: none;
}
.frame.tabbed- .frame-panes > *.is-active {
  display: block;
}
/*
  Styles for formatting code.
*/
.code,
code,
pre {
  /** A section of computer code */
  font-family: 'Source Code Pro', 'Courier', 'Courier New', monospace;
  font-weight: 400;
  font-size: 14px;
}
.code,
pre {
  line-height: 1.15;
}
section.code {
  padding: .5em;
}
code.combinator {
  padding: 0 .5em;
  color: #9b3314;
}
code.separator {
  color: #105c9b;
}
.pattern {
  /** A styleguide entry for a pattern. */
}
.pattern .pattern-role {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #9b3314;
  text-shadow: 0 0 0.15em #f6c6b8;
}
.pattern .pattern-role + h2,
.pattern .pattern-role + h3 {
  margin-top: -0.25em;
}
.pattern .pattern-selectors {
  font-size: 12px;
}
.pattern .pattern-selectors code {
  color: #666666;
}
.pattern .pattern-example {
  margin: 1em 0;
  padding-left: .5em;
  padding-right: .5em;
  width: 100%;
  text-align: left;
  background-image: url(../graphics/checkerboard.svg );
  background-position: center;
}
/**
   Styles for presenting (CSS) rules
*/
.rule {
  font-family: 'Source Code Pro', 'Courier', 'Courier New', monospace;
  font-weight: 400;
  font-size: 14px;
}
.rule + .rule {
  margin-top: 1em;
}
.rule .rule-selectors > li::after {
  content: ',';
}
.rule .rule-selectors > li:last-child::after {
  content: ' {';
}
.rule .rule-declarations > li {
  margin-left: 2em;
}
.rule .rule-declarations::after {
  display: block;
  content: '}';
}
.rule .rule-comment {
  display: none;
}
body.styleboard {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#settings {
  background: #282624;
}
#settings h1 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 21.28px;
  color: #aaaaaa;
  margin: 0 .25em;
}
#sandboxPane {
  background: #ffffff url(../graphics/checkerboard.svg);
  background-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  padding: 0;
}
#sandbox {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  transform-origin: top left;
}
#sandbox iframe {
  width: 1024px;
  outline: 1px dotted rgba(0, 0, 0, 0.2);
}
#dictionaryView .dictionary-list {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#dictionaryView .dictionary-list > li + li {
  margin-top: .5em;
}
#dictionaryView .dictionary-list > li a {
  color: inherit;
  text-decoration: none;
}
#dictionaryView .dictionary-list > li a:hover {
  color: #000000;
  text-shadow: 0 0 0.15em #b3b3b3;
}
.embedded-.styleboard #openInStyleboard {
  color: rgba(170, 170, 170, 0);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}
.embedded-.styleboard #openInStyleboard:hover {
  color: #aaaaaa;
}
.embedded-.styleboard #openInStyleboard .icon {
  color: #aaaaaa;
}
.embedded-.styleboard #settings {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.embedded-.styleboard #settings:hover {
  opacity: 1;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22styles%2Fstyleboard.less%22%2C%22styles%2Ftypography.less%22%2C%22styles%2Fcolor.less%22%2C%22graphics%2Ficonfont%2Ficonfont.less%22%2C%22styles%2Fscrubber.less%22%2C%22styles%2Ficon.less%22%2C%22styles%2Fswatch.less%22%2C%22styles%2Flist.less%22%2C%22styles%2Futil.less%22%2C%22styles%2Fbar.less%22%2C%22styles%2Fbutton.less%22%2C%22styles%2Fmenu.less%22%2C%22styles%2Fdropdown.less%22%2C%22styles%2Fcss3.less%22%2C%22styles%2Fpane.less%22%2C%22styles%2Fframe.less%22%2C%22styles%2Fcode.less%22%2C%22styles%2Fpattern.less%22%2C%22styles%2Frule.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22QAAQ%3B%3B%3B%3B%3B%3B%3BACgEH%3BEArDD%2C%2BCAAA%3BEACA%2CgBAAA%3BEA4BoB%2CeAAA%3BEChBN%2CcAAA%3BED0Cd%2CmCAAA%3B%3BAAGQ%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAAAA%2CWAyCD%3BAACA%2COAAE%3BEACL%2CcAAA%3BEACA%2CmBAAA%3B%3BAA5CI%2CWA%2BCA%3BEACJ%2CeAAA%3B%3BAAhDI%2CWAmDD%3BEAEH%2CiBAAA%3BEACA%2CoBAAA%3BEACA%2CiBAAA%3B%3BAAvDI%2CWAmDD%2COAMA%3BEA9GP%2CiDAAA%3BEACA%2CgBAAA%3BEAyBoB%2CeAAA%3BECVJ%2CcAAA%3BEAMD%2C%2BBAAA%3B%3BAD%2BBP%2CWAmDD%2COAWA%3BEAnHP%2CiDAAA%3BEACA%2CgBAAA%3BEAwBmB%2CkBAAA%3BECRJ%2CcAAA%3BEAMD%2C%2BBAAA%3BED%2BFN%2CuBAAA%3B%3BAAjEA%2CWAqEP%3BAArEO%2CWAqEH%3BAArEG%2CWAqEC%3BAArED%2CWAqEM%3BEACV%2CeAAA%3B%3BAAtEI%2CWAyEN%3BEACE%2CgBAAA%3B%3BAA1EI%2CWA6EN%3BAA7EM%2CWA6EF%3BAA7EE%2CWA6EG%3BEACP%2CgBAAA%3B%3BAA9EI%2CWAiFJ%3BEAjIJ%2CaAAa%2CmBAAmB%2CWAAW%2CwBAA3C%3BEACA%2CgBAAA%3BEAiBmB%2CeAAA%3B%3BAA8BX%2CWAqFH%3BEArIL%2CaAAa%2CmBAAmB%2CWAAW%2CwBAA3C%3BEACA%2CgBAAA%3BEAcqB%2CkBAAA%3BECHN%2CcAAA%3B%3BADoCP%2CWAyFL%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAExGP%3BEAnDC%2CaAAY%2CUAAZ%3BEACA%2CSAAQ%2CqEAAR%3BEACA%2CSAAQ%2C6EAAwD%2COAAO%2C0BAClE%2CuEAAkD%2COAAO%2CaACzD%2CsEAAiD%2COAAO%2CiBACxD%2CgFAA2D%2COAAO%2CMAHvE%3BEAIA%2CmBAAA%3BEACA%2CkBAAA%3B%3BAAGK%3BEACL%2CaAAY%2CUAAZ%3BEACA%2CqBAAA%3BEACA%2CmBAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CwBAAA%3BEACA%2CoBAAA%3BEACA%2CkCAAA%3BEACA%2CmCAAA%3BEACA%2CkCAAA%3B%3BAAGI%2CKAAQ%3BEAAE%2CSAAQ%2COAAR%3B%3BAAMS%2CKACT%2CUADiB%3BEAAE%2CSAAQ%2COAAR%3B%3BAAGZ%2CKACT%2CQADiB%3BACTjB%2CSAjBU%2CmBAOV%2CKAUW%2CUAAC%2CEAAM%2CKDSD%3BEAAE%2CSAAQ%2COAAR%3B%3BAAGR%2CKACT%2CUADiB%3BEAAE%2CSAAQ%2COAAR%3B%3BAAGR%2CKACT%2CYADiB%3BEAAE%2CSAAQ%2COAAR%3B%3BAAGV%2CKACT%2CYADiB%3BAC5CxB%2CSASa%2CmBAOV%2CKAOA%2CEAAM%2CKDqBe%3BEAAE%2CSAAQ%2COAAR%3B%3BAAGZ%2CKACT%2CUADiB%3BEAAE%2CSAAQ%2COAAR%3B%3BAAGb%2CKACT%2COADiB%3BEAAE%2CSAAQ%2COAAR%3B%3BAExCzB%3BEAIE%2CiBAAA%3B%3B%3B%3B%3B%3BACTA%3BEAmCA%2CgBAAA%3BEA9BJ%2CqBAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CUAAA%3BEAEA%2CsDAAA%3BEACA%2C2BAAA%3B%3BAAkBK%2COAAS%3BEACN%2C6BAAA%3B%3BAAjBP%2COAAS%3BEACN%2CSAAS%2CEAAT%3BEACA%2CqBAAA%3BEACA%2CYAAA%3BEACA%2CWAAA%3B%3BAAYC%2COATU%2CaASD%3BEACN%2C6BAAA%3B%3BAADH%2COARI%2COAQK%3BEACN%2CyBAAA%3B%3BAADH%2COAPQ%2CWAOC%3BEACN%2CyBAAA%3B%3BAADH%2COANM%2CSAMG%3BEACN%2CyBAAA%3B%3BAADH%2COALI%2COAKK%3BEACN%2CyBAAA%3B%3BACjCN%3BANmEM%2CWAyFL%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAM5JD%2CKAYE%3BANuDI%2CWAyFL%2CGMhJC%3BEACA%2CgBAAA%3B%3BAAGH%2CKAAS%3BANmDF%2CWAyFL%2CGM5IO%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BEAYN%2CgBAAA%3B%3BAAZH%2CKAAS%2CQAaH%2CIAAS%3BANsCR%2CWAyFL%2CGM5IO%2CQAaH%2CIAAS%3BEACR%2CqBAAA%3BENDR%2CaAAa%2CgBAAb%3BEAKqB%2CkBAAA%3BECJL%2CcAAA%3BEKER%2CSAAS%2CGAAT%3BEACA%2CUAAA%3BEACA%2CiBAAA%3B%3BAAIP%2CKAAQ%3BAN6BD%2CWAyFL%2CGMtHM%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAAAR%2CKAAQ%2COAWD%3BANkBA%2CWAyFL%2CGMtHM%2COAWD%3BEACA%2CqBAAA%3B%3BAACE%2CKAbD%2COAWD%2CIAEK%2CIAAS%3BANgBd%2CWAyFL%2CGMtHM%2COAWD%2CIAEK%2CIAAS%3BEACV%2CSAAS%2CIAAT%3B%3BAAKX%2CKAAa%3BANUN%2CWAyFL%2CGMnGW%3BANUN%2CWA8FL%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BEMtFC%2CiBAAA%3B%3BAC3EH%2CKDyDa%2CYCzDL%3BAPmED%2CWAyFL%2CGMnGW%2CYCzDL%3BAPmED%2CWA8FL%2CGOjKM%3BEACL%2CSAAS%2CEAAT%3BEACA%2CcAAA%3BEACA%2CWAAA%3B%3BADsDH%2CKAAa%2CYAmBN%3BANTA%2CWAyFL%2CGMnGW%2CYAmBN%3BANTA%2CWA8FL%2CGMrFK%3BEACA%2CkBAAA%3B%3BAA7EN%2CKAiFS%3BANdH%2CWAyFL%2CGM3EQ%3BANdH%2CWA%2BFL%3B%3BEM%2FEC%2CWAAA%3BEACA%2CiBAAA%3BENtEJ%2CiDAAA%3BEACA%2CgBAAA%3BEAmBqB%2CkBAAA%3BECJL%2CcAAA%3B%3BAK9Bd%2CKAwFe%3BANrBT%2CWAyFL%2CGMpEc%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAE1EhB%3BERUD%2C%2BCAAA%3BEACA%2CgBAAA%3B%3BAQXC%2CIAII%3BEACD%2CqBAAA%3BEACA%2CmBAAA%3BEACA%2CgBAAA%3BEACA%2C%2BCAAA%3BEACA%2C0CAAA%3B%3BAATH%2CIAYM%3BAAZN%2CIAYe%3BEACZ%2CkBAAA%3BEACA%2CoBAAA%3BEACA%2CSAAA%3BEACA%2CeAAA%3B%3BAAGH%2CIAAO%2CMACG%3BAADV%2CIAAO%2CMACY%3BEACZ%2CuBAAA%3BEACA%2CcAAA%3B%3B%3BACrCN%3BAACD%2CKAAe%3BAACf%2CKAAe%3BAACf%2CKAAc%3BAACX%3B%3B%3B%3B%3B%3B%3B%3B%3BEAUJ%2CqBAAA%3BEACA%2CcAAA%3BEACA%2CwBAAA%3BEACA%2CaAAA%3BETQA%2C%2BCAAA%3BEACA%2CgBAAA%3BEASqB%2CkBAAA%3BECZP%2CcAAA%3BEQJd%2CmCAAA%3BEACA%2CmBAAA%3BEACA%2CqCAAA%3BEACA%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CgBAAA%3BEACA%2CuBAAA%3BEACA%2CeAAA%3B%3BAAEC%2CMAAM%3BAAAN%2CKA7Be%2CeA6BT%3BAAAN%2CKA5Be%2CeA4BT%3BAAAN%2CKA3Bc%2CcA2BR%3BAAAN%2COAAM%3BAACN%2CMAAO%3BAAAP%2CKA9Be%2CeA8BR%3BAAAP%2CKA7Be%2CeA6BR%3BAAAP%2CKA5Bc%2CcA4BP%3BAAAP%2COAAO%3BEACJ%2CqBAAA%3BERPQ%2CcAAA%3BEQSR%2CqBAAA%3B%3BAAGH%2CMAAU%3BAAAV%2CKApCe%2CeAoCL%3BAAAV%2CKAnCe%2CeAmCL%3BAAAV%2CKAlCc%2CcAkCJ%3BAAAV%2COAAU%3BAACV%2CMAAQ%3BAAAR%2CKArCe%2CeAqCP%3BAAAR%2CKApCe%2CeAoCP%3BAAAR%2CKAnCc%2CcAmCN%3BAAAR%2COAAQ%3B%3B%3B%3B%3BEAKL%2CmBAAA%3B%3BAAGH%2CMAAU%3BAAAV%2CKA7Ce%2CeA6CL%3BAAAV%2CKA5Ce%2CeA4CL%3BAAAV%2CKA3Cc%2CcA2CJ%3BAAAV%2COAAU%3BAACV%2CMAAa%3BAAAb%2CKA9Ce%2CeA8CF%3BAAAb%2CKA7Ce%2CeA6CF%3BAAAb%2CKA5Cc%2CcA4CD%3BAAAb%2COAAa%3B%3B%3B%3B%3BEAKV%2CWAAA%3BEACA%2CeAAA%3B%3BAACC%2CMARM%2CUAQC%3BAAAP%2CKArDW%2CeA6CL%2CUAQC%3BAAAP%2CKApDW%2CeA4CL%2CUAQC%3BAAAP%2CKAnDU%2CcA2CJ%2CUAQC%3BAAAP%2COARM%2CUAQC%3BAAAP%2CMAPS%2CYAOF%3BAAAP%2CKArDW%2CeA8CF%2CYAOF%3BAAAP%2CKApDW%2CeA6CF%2CYAOF%3BAAAP%2CKAnDU%2CcA4CD%2CYAOF%3BAAAP%2COAPS%2CYAOF%3BEACJ%2CcAAA%3BEACA%2CiCAAA%3B%3BAAIP%2CMAAU%3BAAAV%2CKA3De%2CeA2DL%3BAAAV%2CKA1De%2CeA0DL%3BAAAV%2CKAzDc%2CcAyDJ%3BAAAV%2COAAU%3B%3B%3B%3B%3B%3BEAMP%2CcAAA%3BEACA%2CmBAAA%3B%3BAAGH%2CMAAO%3BAAAP%2CKArEe%2CeAqER%3BAAAP%2CKApEe%2CeAoER%3BAAAP%2CKAnEc%2CcAmEP%3BAAAP%2COAAO%3B%3B%3B%3B%3B%3BERvCQ%2CcAAA%3BEAMD%2C%2BBAAA%3BEQyCX%2CoBAAA%3BEACA%2CgBAAA%3BEACA%2CUAAA%3BEACA%2CyBAAA%3BEACA%2CuBAAA%3B%3BAAGH%2CMAAS%3BAAAT%2CKApFe%2CeAoFN%3BAAAT%2CKAnFe%2CeAmFN%3BAAAT%2CKAlFc%2CcAkFL%3BAAAT%2COAAS%3B%3B%3B%3B%3BEAKN%2CcAAA%3BEACA%2CmBAAA%3B%3BAA3FF%2CMA8FG%3BAA7FJ%2CKAAe%2CeA6FX%3BAA5FJ%2CKAAe%2CeA4FX%3BAA3FJ%2CKAAc%2CcA2FV%3BAA1FD%2COA0FC%3BAA9FH%2CMA8Fa%3BAA7Fd%2CKAAe%2CeA6FD%3BAA5Fd%2CKAAe%2CeA4FD%3BAA3Fd%2CKAAc%2CcA2FA%3BAA1FX%2COA0FW%3BEACX%2CsBAAA%3BEACA%2CkBAAA%3BEAEA%2CmBAAA%3B%3BAADC%2CMAHA%2CMAGa%3BAAAb%2CKAhGW%2CeA6FX%2CMAGa%3BAAAb%2CKA%2FFW%2CeA4FX%2CMAGa%3BAAAb%2CKA9FU%2CcA2FV%2CMAGa%3BAAAb%2COAHA%2CMAGa%3BAAAb%2CMAHU%2CQAGG%3BAAAb%2CKAhGW%2CeA6FD%2CQAGG%3BAAAb%2CKA%2FFW%2CeA4FD%2CQAGG%3BAAAb%2CKA9FU%2CcA2FA%2CQAGG%3BAAAb%2COAHU%2CQAGG%3BEAAE%2CcAAA%3B%3BAAEf%2CMALA%2CMAKY%3BAAAZ%2CKAlGW%2CeA6FX%2CMAKY%3BAAAZ%2CKAjGW%2CeA4FX%2CMAKY%3BAAAZ%2CKAhGU%2CcA2FV%2CMAKY%3BAAAZ%2COALA%2CMAKY%3BAAAZ%2CMALU%2CQAKE%3BAAAZ%2CKAlGW%2CeA6FD%2CQAKE%3BAAAZ%2CKAjGW%2CeA4FD%2CQAKE%3BAAAZ%2CKAhGU%2CcA2FA%2CQAKE%3BAAAZ%2COALU%2CQAKE%3BEAAE%2CeAAA%3B%3BAAnGjB%2CMAsGK%3BAArGN%2CKAAe%2CeAqGT%3BAApGN%2CKAAe%2CeAoGT%3BAAnGN%2CKAAc%2CcAmGR%3BAAlGH%2COAkGG%3BEACH%2CgBAAA%3B%3B%3B%3B%3BACrGF%2CKAEG%3BEAGD%2CmBAAA%3BEACA%2CkBAAA%3BEACA%2CeAAA%3BEACA%2CmBAAA%3B%3BAAEC%2CKARA%2CKAQO%3BETsBI%2CcAAA%3B%3BAShCd%2CKAEG%2CKAYI%3BAAdP%2CKAEG%2CKAYc%3BEACX%2CsBAAA%3BEACA%2CkBAAA%3BEAEA%2CmBAAA%3B%3BAADC%2CKAfJ%2CKAYI%2CMAGa%3BAAAb%2CKAfJ%2CKAYc%2CQAGG%3BEAAE%2CcAAA%3B%3BAAEf%2CKAjBJ%2CKAYI%2CMAKY%3BAAAZ%2CKAjBJ%2CKAYc%2CQAKE%3BEAAE%2CeAAA%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BACPjB%3BEAEN%2CqBAAA%3BEACA%2CkBAAA%3B%3BAAHM%2CSAKS%3BEACX%2CaAAA%3BEACA%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CeAAA%3BEACA%2CuCAAA%3BEACA%2CcAAA%3BEACA%2CqCAAA%3BEACA%2CgBAAA%3BEACA%2C0CAAA%3BEACA%2CyBAAA%3BEACA%2CUAAA%3B%3BAAGH%2CSAAe%3B%3BEAEZ%2CgBAAA%3B%3BAAFH%2CSAAe%2CcAGG%3BEACX%2COAAA%3B%3BAAIP%2CSAAgB%3B%3BEAEb%2CiBAAA%3B%3BAAFH%2CSAAgB%2CeAGE%3BEACX%2CQAAA%3B%3BAAIP%2CSAAW%3B%3BEAER%2CkBAAA%3B%3BAAFH%2CSAAW%2CUAGO%3BEACX%2CSAAA%3BEC5CR%2CmBD6CoB%2CgBC7CpB%3BEACA%2CgBD4CoB%2CgBC5CpB%3BEACA%2CWD2CoB%2CgBC3CpB%3B%3BAD%2BCC%2CSAAO%3BEACJ%2C%2BCAAA%3B%3BAADH%2CSAAO%2CMAGE%3BAAHT%2CSAAO%2CMAGY%3BEV3BJ%2CcAAA%3B%3BAUwBf%2CSAAO%2CMAOW%3BEACX%2CcAAA%3B%3BARnEF%3BEACN%2CkBAAA%3BEACA%2CkBAAA%3B%3BAAFM%2CSAIU%3BEACZ%2CcAAA%3BEACA%2CcAAA%3B%3BAANE%2CSASa%3BEACf%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CQAAA%3BEACA%2CcAAA%3BEACA%2CcAAA%3B%3BAAdE%2CSASa%2CmBAOV%3BEACD%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CqBAAA%3BEACA%2CWAAA%3BEACA%2CeAAA%3BESCR%2C0CAAA%3BEACA%2CoCAAA%3BEAIA%2CkCAAA%3BEACA%2C%2BBAAA%3BEACA%2C0BAAA%3B%3BATAS%2CSApBU%2CmBAOV%2CKAaO%3BESnBhB%2CmBToBwB%2CUSpBxB%3BEACA%2CgBTmBwB%2CUSnBxB%3BEACA%2CWTkBwB%2CUSlBxB%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BACOE%3BEACF%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CWAAA%3BEACA%2CaAAA%3BEACA%2CmBAAA%3BEACA%2C8FAAA%3BEAEA%2CgBAAA%3B%3BAAEC%2CKAAO%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BEAkBJ%2CmBAAA%3BEACA%2CcAAA%3B%3BAAGH%2CKAAa%3B%3BEAEV%2CgBAAA%3BEACA%2CgBAAA%3B%3BAACC%2CKAJS%2CYAII%3B%3BEAEV%2CkBAAA%3B%3BAAEH%2CKARS%2CYAQM%3B%3BEAEZ%2CkBAAA%3B%3BAAEH%2CKAZS%2CYAYW%3BEACjB%2CUAAA%3BEACA%2CWAAA%3B%3BAAEH%2CKAhBS%2CYAgBgB%3BAACzB%2CKAjBS%2CYAiBkB%3BEACxB%2CuBAAA%3B%3BAAEH%2CKApBS%2CYAoBiB%3BEACvB%2CoCAAA%3BEACA%2C4CAAA%3BEACA%2CkBAAA%3B%3BACvEL%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BEAmBH%2CYAAA%3BEACA%2CWAAA%3BEAGA%2CkBAAA%3B%3BAAEC%2CMAAW%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BEAaR%2CgBAAA%3B%3BAAtCD%2CMAyCU%3BAAzCV%2CMA0CS%3BEACR%2CkBAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEACA%2CWAAA%3BEACA%2CgBAAA%3BEACA%2CWAAA%3BEACA%2CmBAAA%3BEACA%2C8FAAA%3BEd3BJ%2C%2BCAAA%3BEACA%2CgBAAA%3BEASqB%2CkBAAA%3BECPL%2CcAAA%3B%3BAa1Bb%2CMAyCU%2CcAYP%3BAArDH%2CMA0CS%2CYAWN%3BEACE%2CcAAA%3BEACA%2CwBAAA%3B%3BAAvDL%2CMAyCU%2CcAgBH%3BAAzDP%2CMA0CS%2CYAeF%3BEACF%2CcAAA%3B%3BAA1DL%2CMA8DW%2CcACE%3BEAER%2CgBAAA%3BEACA%2CWAAA%3BEACA%2CWAAA%3B%3BAAnEL%2CMA8DW%2CcAQP%3BEACC%2CWAAA%3BEACA%2CcAAA%3B%3BAAxEL%2CMA4EgB%3BEACf%2CkBAAA%3BEACA%2COAAA%3BEACA%2CMAAA%3B%3BAA%2FED%2CMAkFiB%3BEAChB%2CkBAAA%3BEACA%2CQAAA%3BEACA%2CMAAA%3B%3BAAGH%2CMAAW%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BEAaR%2CqBAAA%3B%3BAArGD%2CMAwGW%3BEACV%2CkBAAA%3BEACA%2CSAAA%3BEACA%2COAAA%3BEACA%2CaAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CmBAAA%3BEACA%2C8FAAA%3BEdzFJ%2C%2BCAAA%3BEACA%2CgBAAA%3BEASqB%2CkBAAA%3BECPL%2CcAAA%3B%3BAa1Bb%2CMAqHgB%3BEACf%2CkBAAA%3BEACA%2CSAAA%3BEACA%2COAAA%3B%3BAAxHD%2CMA2HiB%3BEAChB%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CQAAA%3B%3BAAGH%2CMAAQ%3B%3B%3BAAAR%2CMAAQ%2COAED%3BEACA%2CkBAAA%3B%3BAAEH%2CMALI%2COAKS%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAAAb%2CMALI%2COAKS%2CYAgBN%3BEACA%2CUAAA%3BEACA%2CYAAA%3BEACA%2CMAAA%3B%3BAAnBP%2CMALI%2COAKS%2CYAqBK%3BEACX%2COAAA%3B%3BAAtBP%2CMALI%2COAKS%2CYAwBI%3BEACV%2CQAAA%3B%3BAAEH%2CMAhCA%2COAKS%2CYA2BC%3B%3B%3BAAAV%2CMAhCA%2COAKS%2CYA2BC%2CSAEQ%3BEAAE%2CyBAAA%3B%3BAAFpB%2CMAhCA%2COAKS%2CYA2BC%2CSAGO%3BEAAE%2CyBAAA%3B%3BAAGvB%2CMAtCI%2COAsCO%3B%3B%3B%3B%3BAAAX%2CMAtCI%2COAsCO%2CUAIJ%3BEACA%2CWAAA%3BEACA%2CWAAA%3BEACA%2COAAA%3B%3BAACC%2CMA9CJ%2COAsCO%2CUAIJ%2CIAIc%3BEAAE%2CMAAA%3B%3BAACf%2CMA%2FCJ%2COAsCO%2CUAIJ%2CIAKa%3BEAAE%2CSAAA%3B%3BAAElB%2CMAjDA%2COAsCO%2CUAWG%3B%3B%3BAAAV%2CMAjDA%2COAsCO%2CUAWG%2CSAEQ%3BEAAE%2C0BAAA%3B%3BAAFpB%2CMAjDA%2COAsCO%2CUAWG%2CSAGO%3BEAAE%2C0BAAA%3B%3BAAEnB%2CMAtDA%2COAsCO%2CUAgBG%3B%3B%3BAAAV%2CMAtDA%2COAsCO%2CUAgBG%2CSAEQ%3BEAAE%2C0BAAA%3B%3BAAFpB%2CMAtDA%2COAsCO%2CUAgBG%2CSAGO%3BEAAE%2C0BAAA%3B%3BAAK3B%2CMAAS%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BEAeN%2CgBAAA%3B%3BAAfH%2CMAAS%2CQAiBM%3BEACR%2CmBAAA%3B%3BAAlBP%2CMAAS%2CQAiBM%2CYAEJ%3BEACA%2CqBAAA%3BEACA%2CeAAA%3BEACA%2CeAAA%3B%3BAACC%2CMAvBH%2CQAiBM%2CYAEJ%2CIAIY%3BEbtLR%2CcAAA%3BEawLA%2CsBAAA%3B%3BAAEH%2CMA3BH%2CQAiBM%2CYAEJ%2CIAQQ%3BEACJ%2CkBAAA%3B%3BAA5Bf%2CMAAS%2CQAiCO%3B%3BEAET%2CYAAA%3B%3BAAnCP%2CMAAS%2CQAiCO%2CaAGL%3BEACA%2CaAAA%3B%3BAACC%2CMAtCH%2CQAiCO%2CaAGL%2CIAEY%3BEACR%2CcAAA%3B%3B%3B%3B%3BAClOf%3BAACD%3BAACA%3B%3BEfYA%2CaAAa%2CmBAAmB%2CWAAW%2CwBAA3C%3BEACA%2CgBAAA%3BEAiBmB%2CeAAA%3B%3BAezBlB%3BAACD%3BEACA%2CiBAAA%3B%3BAAGG%2COAAM%3BEACT%2CaAAA%3B%3BAAIC%2CIAAY%3BEACT%2CeAAA%3BEdSY%2CcAAA%3B%3BAcNf%2CIAAW%3BEdII%2CcAAA%3B%3BAe9BX%3B%3B%3BAAAA%2CQAGS%3BEhBWd%2CiDAAA%3BEACA%2CgBAAA%3BEAqBoB%2CeAAA%3BECJJ%2CcAAA%3BEAMD%2C%2BBAAA%3B%3BAetCV%2CQAGS%2CcAGP%3BAANF%2CQAGS%2CcAGD%3BEACL%2CmBAAA%3B%3BAAPH%2CQAWc%3BEhByBC%2CeAAA%3B%3BAgBpCf%2CQAWc%2CmBAEV%3BEfUI%2CcAAA%3B%3BAevBR%2CQAkBY%3BEACb%2CaAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CWAAA%3BEACA%2CgBAAA%3BEACA%2CoDAAA%3BEACA%2C2BAAA%3B%3B%3B%3B%3BACrBF%3BEjBeF%2CaAAa%2CmBAAmB%2CWAAW%2CwBAA3C%3BEACA%2CgBAAA%3BEAiBmB%2CeAAA%3B%3BAiBjCjB%2CKAEM%3BEACJ%2CeAAA%3B%3BAAKK%2CKAFO%2CgBACP%2CKACQ%3BEACL%2CSAAS%2CGAAT%3B%3BAAEH%2CKALO%2CgBACP%2CKAIW%2CWAAQ%3BEAChB%2CSAAS%2CIAAT%3B%3BAAZV%2CKAiBiB%2CmBACV%3BEACD%2CgBAAA%3B%3BAAEH%2CKAJc%2CmBAIN%3BEACL%2CcAAA%3BEACA%2CSAAS%2CGAAT%3B%3BAAvBN%2CKA2BY%3BEACV%2CaAAA%3B%3BAlBfJ%2CIAAY%3BEACZ%2CeAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEACA%2CSAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3B%3BAAGM%3BEACN%2CmBAAA%3B%3BAADM%2CSAEH%3BECLH%2C%2BCAAA%3BEACA%2CgBAAA%3BEAcmB%2CkBAAA%3BECZH%2CcAAA%3BEFIZ%2CeAAA%3B%3BAAIK%3BEACT%2CqDAAA%3BEACA%2CqBAAA%3BEACA%2C4CAAA%3BEACA%2CUAAA%3B%3BAAGK%3BEACL%2CkBAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEa%2FBA%2CkCAAA%3BEACA%2C%2BBAAA%3BEACA%2C0BAAA%3B%3BAb0BK%2CQAKE%3BEACH%2CaAAA%3BEACA%2CsCAAA%3B%3BAAIQ%2CeACK%3BECxCjB%2CiDAAA%3BEACA%2CgBAAA%3BEAuBoB%2CeAAA%3B%3BADmBV%2CeAHO%2CiBAER%2CKACM%3BEACH%2CgBAAA%3B%3BAALA%2CeACK%2CiBAER%2CKAIC%3BEACE%2CcAAA%3BEACA%2CqBAAA%3B%3BAACC%2CeATI%2CiBAER%2CKAIC%2CEAGU%3BEEvCR%2CcAAA%3BEAWE%2C%2BBAAA%3B%3BAFqCR%2CUAAY%2CWAEA%3BEACd%2C6BAAA%3BEalDJ%2C8BAAA%3BEACA%2C2BAAA%3BEACA%2CsBAAA%3B%3BAbkDK%2CUALa%2CWAEA%2CkBAGN%3BEACJ%2CcAAA%3B%3BAANF%2CUAAY%2CWAEA%2CkBAMR%3BEACF%2CcAAA%3B%3BAATF%2CUAAY%2CWAaR%3BEACN%2CUAAA%3BEa7DJ%2CgCAAA%3BEACA%2C6BAAA%3BEACA%2CwBAAA%3B%3BAb6DK%2CUAhBa%2CWAaR%2CUAGE%3BEACJ%2CUAAA%22%7D */