@import "reset.css";
@import "util";
@import "css3";
@import "color";
@import "typography";
@import "icon";
@import "swatch";
@import "list";
@import "bar";
@import "button";
@import "menu";
@import "dropdown";
@import "pane";
@import "frame";
@import "code";
@import "pattern";
@import "rule";

body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#settings {
    h1 {
        .font( nav, large, inv-lo );
        margin: 0 .25em;
    }
}

#sandbox {
    background: #fff url(../graphics/checkerboard.svg);
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
    padding: 2em 2em 4em 2em;
    h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10/12 * 100%;
        padding: 1em;
        color: #666;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: 1px dotted rgba(0,0,0,0.2);
        .transform-origin( top left );
    }
}

#selectors {
    padding: 10px;
    margin: 0;
}

#dictionaryView {
    .dictionary-list {
        .font( header, medium );
        > li {
            margin: .5em 0;
            cursor: pointer;
            text-transform: capitalize;
        }
    }
}
