.token {
    /** A word or symbol in `code` that has been parsed.

        @example
        var <span class="token">foo</span>

    */

    &.doctype,
    &.atrule,
    &.cdata {
        .color( inv-lo );
    }

    &.comment {
        .color( danger, .8 );
        font-style: oblique;
    }

    &.tag {
        .color( delta );
    }

    &.attr-name,
    &.attr-value {
        .color( inv-lo );
    }

    &.highlight- {
        /** A highlighted token. */
        display: inline-block;
        line-height: 1.5;
        padding: 0 .5em;
        margin: 0 .125em;
        position: relative;
        z-index: 0;
        &::before {
            // the background "highlight"
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            // height is determined by top and bottom
            top: 0.15em;
            bottom: 0.10em;
            left: 0;
            border: 1px solid; // border color is font color
            border-radius: 1em;  // more than half = round
            background-color: fade( black, 50% );
            box-sizing: border-box;
            z-index: -1;
            opacity: .5;
        }
        &.tag {
            // don't need as much padding because the < > fit into the round endcap
            padding: 0 .25em;
        }
    }

    &.classname- {
        /** A CSS class name in HTML or CSS context */
        .color( alpha, .7 );
        &.pattern-,
        &.member-,
        &.modifier-,
        &.state- {
            opacity: 1;
            text-shadow: 0 0 1px;
        }
        &.pattern- {
            /** A CSS class name corresponding to a pattern. */
        }
        &.member- {
                 /** A CSS class name corresponding to a member. */
            .color( beta );
        }
        &.modifier-,
        &.state- {
            /** A CSS class name corresponding to a modifier or state. */
            .color( gamma );
        }
    }

    &.property,
    &.boolean,
    &.number,
    &.constant,
    &.symbol,
    &.selector,
    &.string,
    &.builtin,
    &.operator,
    &.entity,
    &.url,
    .language-css &.string,
    .style &.string,
    &.variable,
    &.keyword,
    &.function,
    &.regex,
    &.important {
        /** Modifiers used by Prism, but not Styleboard. */
        .color( warning );
    }
}