.swatch {

    /** Color swatches.
        @example [swatches.html] Swatches
    */

    .color( transparent );
    .size( 1.5em );

    display: inline-block;
    position: relative;
    height: 1em;
    width: 1em;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
    }

    &::before {
        // the default background, checkboard on white, so we can see opacity of swatch
        background: #fff url( ../../graphics/checkerboard.svg );
        background-position: center;
    }

    &::after {
        // duplicate the color of the swatch on top of the background
        background-color: inherit;
    }

    &.transparent- { .color( transparent ); }
    &.white- { .color( #fff ); }
    &.off-white- { .color( #f4f4f4 ); }
    &.grey-75- { .color( #c0c0c0 ); }
    &.black- { .color( #000 ); }

    // mixins

    .color ( @color ) {
        background-color: @color;
    }

    .size ( @size ) {
        font-size: @size;
    }

}
